<!DOCTYPE html>
<html>
	<head>
	<title>Admin</title>
	<link rel='stylesheet' href='./stylesheets/bootstrap.min.css'></link>
	<link rel='stylesheet' href='./stylesheets/prettify.css'></link>
	<link rel='stylesheet' href='./stylesheets/custom.css'></link>
	<link rel='stylesheet' href='./stylesheets/style.css'/></link>
	</head>
	<body>
	 	<section class='featured'>
			<div class='container'> 
				<div class='row'>
					<div class='col-md-9 col-md-offset-1'>
						<h2 class='slogan' style='font-size:36px'>Auction War - Administration </h2>
					</div>
				</div>
			</div>
		</section>    
		<section id='section-services' class='section pad-bot10 fill' style='color: #141823'>         
			<div class='container-fluid'>
				<div class='row'>
					<div class='col-md-3 col-md-offset-2 panel panel-default' style="padding-bottom:10px">
						<div class="page-header">
  							<h2>Testing Panel</h2>
						</div>
						<input type='text' class='form-control' id='no-tabs' style='width:20em' placeholder='How many windows?'/>
						<br />
						<input type='button' class='btn btn-primary' id='testing' style='width:10em' value='Test'/>
						<input type='button' class='btn btn-primary' id='reset' style='width:10em' value='Reset'/>
					</div>
				</div>
			</div>
		</section>
		<script src='./javascripts/jquery/jquery.min.js'></script>
		<script src='./javascripts/jquery/jquery.bootstrap.wizard.js'></script>
		<script src='./javascripts/bootstrap/bootstrap.min.js'></script>
		<script src='./vmodel_admin.js'></script>
	</body>
</html>