<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>404 Error Page </title>
  <link href="./stylesheets/bootstrap.css" rel="stylesheet" />
  <link href="./stylesheets/font-awesome.css" rel="stylesheet" />
  <link href="./stylesheets/style.css" rel="stylesheet" />
</head>
<body>
  <section class="featured">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-md-offset-1">
            <h2 class="slogan" style="font-size: 36px">Auction War - Error</h2>
        </div>
      </div>
    </div>
  </section>
  <section class="section pad-bot10 fill" style="color: #141823">
    <div class="container" style="margin-top: 30px">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <div class="logo">
          <h1>Oops, Error 404 !</h1>
        </div>
        <hr />
        <h3 align="center">- Error Message -</h3>
        <p style="color: red;"> <%=message%></p>
        <hr />
        <h3 align="center">- Error Tracking -</h3>
        <p style="color: red;"><%=error%></p>
        <hr />
        <h3 align="center">- What's Next? -</h3>
        <div align="middle">
          <p style="color: black;"> Please report this error message to <u style="color: blue">athena.xyy@gmail.com</u> and then return to Main Page. </p>
          <br />
          <a href="."  class="btn btn-danger btn-block" style="width:50%" role="button">Return to Main Page</a>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
