<!DOCTYPE html>
<html>
<head>
  <title>Final</title>
  <link rel="stylesheet" href="./stylesheets/bootstrap.min.css"></link>
  <link rel="stylesheet" href="./stylesheets/bootstrap-theme.min.css"></link>
  <link rel="stylesheet" href="./stylesheets/login.css"></link>
  <script type="text/javascript" src="./javascripts/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="./javascripts/bootstrap/bootstrap.min.js"></script>
</head>
<body>
  <div class="wrapper">
    <div class="form-signin" >
      <h3 class="form-signin-heading" align="center"><b>Your Turker ID</b></h3>
      <h4 align="center"><%=user_id%></h4>
      <hr />
      <h3 class="form-signin-heading" align="center"><b>Your Reward Code</b></h3>
      <h2 align="center" style="color: red"><b><%=reward_code%></b></h2>
      <hr />
      <div align="center">
        <p>Take this code and input it back to Amazon Mechanic Turk to finish the study and get reward.</p>
      </div>
    </div>
  </div>
</body>
</html>