<!DOCTYPE html>
<html>
  <head>
  <title>Introduction</title>
  <link rel="stylesheet" href="./stylesheets/bootstrap.min.css"></link>
  <link rel="stylesheet" href="./stylesheets/prettify.css"></link>
  <link rel="stylesheet" href="./stylesheets/custom.css"></link>
  <link rel="stylesheet" href="./stylesheets/style.css"></link>
  </head>
  <body>
  <section class="featured">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-md-offset-1">
          <h2 class="slogan" style="font-size: 36px">Auction War - Introduction</h2>
        </div>
      </div>
    </div>
  </section>
  <section id="section-services" class="section pad-bot10" style="color: #141823;">
    <!-- hidden variable -->
    <input id="player-role" name="player_role" type="hidden" value='<%=player_role%>'></input>
    <div id="type-0" class="container-fluid" style="display: none; margin-top: 30px">
      <div class="row col-md-8 col-md-offset-2">
        <h3 class="page-head">General Information</h3>
        <div class="container-fluid">
          <p style ="word-wrap: break-word;">
            <span style="font-weight: bold;">Your name is Sam</span>, owner of Sam's Consignment House.
          </p>
          <p style ="word-wrap: break-word; color: black">
          The U.S. storage rental industry is a booming industry. However, the rented storage lockers are sometimes abandoned. The contents of abandoned lockers are usually sold at auctions. You want to purchase one of these lockers jointly with another buyer. First, however you must negotiate with the other buyer on how to divide the contents of the locker.
          </p>
        </div>
        <hr />
        <h3 class="page-head">Your Business and Today's Auction</h3>
        <div class="container-fluid">
          <p style ="word-wrap: break-word; color: black">This storage unit contains the following valuable items:</p>
        </div>
        <br />
        <ul style="list-style-type: upper-roman; word-wrap: break-word;">
          <li>
            <u>Print of an art deco painting:</u>
            You could find someone to buy this item but your
            <span style="font-weight: bold;"> profit would be small. </span>
            This is your lowest priority item.
          </li>
          <div align="center">
            <img src="./images/item1.png"/>
          </div>
          <br />
          <li>
            <u>Art deco lamps: </u>
            There are two art deco lamps that are far more valuable than the painting.
            You could get a <span style="font-weight: bold;"> tidy profit </span>
            on these lamps. These are your medium priority items.
          </li>
          <div align="center">
            <img src="./images/item2.png"/>
            <img src="./images/item2.png"/>
          </div>
          <br />
          <li>
            <u>Crates of LP records: </u>
            You have a buyer that is very interested in these records. Obtaining all of them would be
            <span style="font-weight: bold;"> worth more to you than everything else in the locker. </span>
            These are your highest priority times. Try to get them all (if possible). Just 1 of these crates could be worth slightly more than both of the lamps.
          </li>
          <div align="center">
            <img src="./images/item3.png"/>
            <img src="./images/item3.png"/>
            <img src="./images/item3.png"/>
          </div>
        </ul>
        <hr />
        <h3 class="page-head">Your goal</h3>
        <div class="container-fluid">
        <p style ="word-wrap: break-word; color: black">
          Remember, your goal in this task is to
          <span style="font-weight: bold; color: red"> get the best outcome for yourself.</span>
        </p>
        </div>
        <hr />
        <h3 class="page-head">Your task</h3>
        <div class="container-fluid">
          <p style ="word-wrap: break-word; color: black">
            To negotiate, you and your opponent take turns, the game will notify you when it is the start of your turn.
          </p>
          <p style ="word-wrap: break-word; color: black">
            <!-- During your turn, you can take -->
            During your turn, you can either <span style="font-weight: bold;">make an offer</span> by dragging the items on the table and submit your offer or alternatively you can just <span style="font-weight: bold;">accept your opponent's offer</span>.
            <!-- <span style="color: red; font-weight: bold;"> at least one of the following actions: </span>
            <ul style ="word-wrap: break-word; color: black">
              <li> Make a statement or ask a question by selecting from the list. </li>
              <li> Make an offer by drag the items on the table. </li>
            </ul> -->
          </p>
          <p style ="word-wrap: break-word; color: black"> Once both parties agree on who gets what for every item, the game is over. </p>
        </div>
        <hr/>
        <div style="float: left">
          <form action="questionnaire" method="post">
            <input type='button' class='btn btn-primary' id='prev-stage' style="width: 10em" value='Previous Stage'/>
            <!-- hidden variable -->
            <input id="player-id" name="user_id" type="hidden" value='<%=user_id%>'></input>
            <!-- hidden variable -->
            <input name="from" type="hidden" value='introduction'></input>
          </form>
        </div>
        <div style="float: right">
          <form action="quiz" method="post">
            <input type='button' class="btn btn-danger" id="next-stage" style="width: 10em" value="Next Stage"></input>
            <!-- hidden variable -->
            <input id="player-id" name="user_id" type="hidden" value='<%=user_id%>'></input>
            <!-- hidden variable -->
            <input name="from" type="hidden" value='introduction'></input>
          </form>
        </div>
      </div>
    </div>
  </section>
  <script src="./javascripts/jquery/jquery.min.js"></script>
  <script src="./javascripts/jquery/jquery.bootstrap.wizard.js"></script>
  <script src="./javascripts/knockout/knockout-3.1.0.js"></script>
  <script src="./javascripts/bootstrap/bootstrap.min.js"></script>
  <script src="./helpers.js"></script>
  <script src="./initializer_introduction.js"></script>
  </body>
</html>
